body{
  font-family:"Segoe UI",sans-serif;
  background:linear-gradient(to right, lightcyan, lightpink);
  margin:0;
  height:600px;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden; 
}
.container{
  display:flex;
  gap:40px;
  align-items:center;
  justify-content:center;
}
.game-box,.history-box{
  background-color:white;
  border-radius:20px;
  box-shadow:0 8px 15px gray;
  padding:30px 40px;
  text-align:center;
}
.game-box{
  width:450px;
  background-color:lavenderblush;
}
.history-box{
  width:300px;
  background-color:aliceblue;
  text-align:left;
  overflow:auto;
  height:500px;
  border:3px solid lightgray;
}
h1{
  font-size:34px;
  color:darkblue;
  font-weight:bold;
  margin-bottom:15px;
  text-shadow:1px 1px 2px gray;
}
.score{
  margin-top:10px;
  font-size:22px;
  color:darkslategray;
}
.buttons{
  margin-top:20px;
}
.buttons button{
  font-size:60px;
  margin:12px;
  border:4px solid navy;
  border-radius:15px;
  padding:12px;
  background-color:lightyellow;
  cursor:pointer;
  transition:transform 0.5s ease;
}
.buttons button:hover{
  background-color:gold;
  transform:scale(1.1);
}
.result{
  margin-top:20px;
  font-size:20px;
  font-weight:bold;
  color:darkred;
  background-color:lavender;
  padding:8px;
  border-radius:8px;
}
.reset{
  background-color:deepskyblue;
  color:white;
  border:none;
  padding:10px 20px;
  margin-top:15px;
  border-radius:8px;
  cursor:pointer;
  font-size:16px;
  font-weight:bold;
}
.reset:hover{
  background-color:royalblue;
}
.history-box h2{
  color:darkblue;
  font-size:22px;
  font-weight:bold;
  text-align:center;
  margin-bottom:10px;
}
ul{
  list-style:none;
  padding:0;
  color:darkslategray;
  font-size:16px;
  height:400px;
}
ul li{
  background-color:lightgoldenrodyellow;
  margin-bottom:8px;
  padding:8px 10px;
  border-radius:6px;
  box-shadow:0 2px 4px gray;
}
